.banner {
  color: white;
  object-fit: contain;
  height: 950px;
  margin-bottom: 20px;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 700px;
}
.bannner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  padding-top: 300px;
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 650;
  max-width: 360px;
  height: 80px;
}
.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 1rem;
}
.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner--fadeBottom {
  height: 700px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
