.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: black;

  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 115px;
  object-fit: contain;
}
.nav__avatar {
  width: 35px;
  object-fit: contain;
  padding-right: 30px;
}
