.row {
  margin-left: 20px;
  color: white;
  font-size: 15px;
  position: relative;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 180px;
  max-width: 95%;
  margin-right: 10px;
  transition: 450ms;
  padding-bottom: 12px;
  padding-top: 5px;
}


.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 370px;
  margin-right: 5px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.movie_title_wrapper{
  text-align: center;
  margin-bottom: 20px;
}