.row {
  margin-left: 20px;
  color: white;
  font-size: 15px;
  position: relative;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 180px;
  margin-right: 10px;
  transition: 450ms;
  padding-bottom: 32px;
  padding-top: 5px;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 370px;
  margin-right: 5px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.slick-arrow.slick-next{
    right: 25px;
    z-index: 4;
} 

@media (max-width: 768px){
  .slick-arrow {
      display: none!important;
  }
}